<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <title>@ViewData["Title"] - Fribergs Bilar</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergsBilar_RazorPages.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="sitelogo">
                <a class="HeaderText" asp-area="" asp-page="/Index">Fribergs Bilar  </a>
                <span class="" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sitelogo"></span>
                </span>
                </button>
                <div class="flex-Container">
                    <ul class="">
                        <lo class="nav-item">
                            <button> <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a> </button>
                        </lo>
                        <lo class="nav-item">
                            <button>  <a class="nav-link text-dark" asp-area="" asp-page="/Cars/Index">Cars</a> </button>
                        </lo>
                        <lo class="nav-item">
                            <button>  <a class="nav-link text-dark" asp-area="" asp-page="/Bookings/Index">My Bookings</a> </button>
                        </lo>
                        <lo class="nav-item">
                            <button> <a class="nav-link text-dark" asp-area="" asp-page="/Customers/Login/Index">Logout</a> </button>
                        </lo>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="">
            &copy; 2024 - FribergsBilar_RazorPages - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>