@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //Another cookie based welcome message
    if (ViewData["AdminCookies"] != null)
    {
        <div class="text-center">
            <h1 class="display-4">Welcome Admin</h1>
            To Firberg Car Rental
        </div>
    }
    else if (ViewData["UserCookies"] != null)
    {
        <div class="text-center">
            <h1 class="display-4">Welcome User</h1>
            To Firberg Car Rental
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            To Firberg Car Rental
        </div>
    }
}


